arm-gnu-toolchain-aarch64-none-elf

# build artifacts
*.o
*.d

# upload script stuff
# upload.sh
cacert.pem
*.elf
*.img

# custom clangd
.clangd
**/.cache/*

# notebook
*.ipynb
**/compile_commands.json
data/*